header{
    background-color: #2C3E4F;
}

.navbar-brand{
    color: #fff;
}

.nav-link{
    color: #fff
}

.navbar-toggler-icon{
    color: #fff;
}

/* Regole Main */
    /* Regole Jumbotrone */
h1{
    color: #fff;
}

.ms_separatore{
    color: #fff;
}

h6{
    color:#fff;
}
.ms_start{
    height: 500px;
    background-color: #19BC9B;
}

.ms_item{
    width: 250px;
    aspect-ratio: 1 / 1;
    background-color: #000;
    margin: 50px auto;
}

.ms_about{
    background-color: #19BC9B;
}

.ms_download{
    background-color: #19BC9B;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.ms_button-contact{
    background-color: #19BC9B;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 7px;
}