header{
    background-color: #2C3E4F;
}

.navbar-brand{
    color: #fff;
}

.nav-link{
    color: #fff
}

.navbar-toggler-icon{
    color: #fff;
}

/* Regole Main */
    /* Regole Jumbotrone */
h1{
    color: #fff;
}

.ms_separatore{
    color: #fff;
}

h6{
    color:#fff;
}

.ms_black{
    color: #2C3E4F;
}

.ms_separatore_black{
    color: #2C3E4F;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

.ms_start{
    background-color: #19BC9B;
}

.ms_white{
    color: #fff;
}

.ms_about{
    background-color: #19BC9B;
}

.ms_download{
    background-color: #19BC9B;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.ms_button-contact{
    background-color: #19BC9B;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 7px;
}

footer{
    background-color: #2C3E4F;
    color: #fff;
}