header{
    background-color: #2C3E4F;
}

.ms_container_header{
    height: 50px;
    background-color: #2C3E4F;
    color: #fff;
}

.ms_row_header{
    height: 100%;
}

.ms_start{
    height: 500px;
    background-color: #19BC9B;
}

.ms_item{
    width: 250px;
    aspect-ratio: 1 / 1;
    background-color: #000;
    margin: 50px auto;
}